@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap'); /* font */

/* base style */
.App {
  text-align: center;
}

* {
  margin: 0;
  font-family: "Outfit";
}
h1 {
  color: #BA0C2F; 
  padding: 25px;
}
h2 {
  color: #BA0C2F;
  padding: 20px;
}
p {
  padding: 10px;
}

.content {
  margin: 20x auto;
  padding: 5px;
}

Link :focus, :hover, :visited, :link, :active {
  text-decoration: none;
}

/* ASSMU LOGO STYLE */
#logo {
  width: 100px;
}
/* navbar styling */
.navbar-image{
  padding: .5rem;
}

.navbar{
  font-size: 1vw;
}

@media only screen and (max-width: 1100px){
  .navbar{
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 980px){
  .navbar{
    font-size: 2vw;
  }
}

@media only screen and (max-width: 650px){
  .navbar{
    font-size: 2.5vw;
  }
}

@media only screen and (max-width:475px){
  .navbar{
    font-size:3vw;
  }
}

/* Question form  styling */
.form {
  padding: 20px;
  max-width: 800px;
  background-color: rgb(173, 173, 173);
  box-shadow: 4px 5px 14px 0px rgba(0,0,0,0.69);
  border-radius: 7px;
}

.form h1 {
  padding:5px;
  margin-bottom: 20px;
  align-items: center;
}

.form label {
  text-align: left;
  display:block;
  font-size: x-large;
  font-weight: bolder;
}

.form input, .form textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid white;
  box-sizing: border-box;
  display:block;
  border-radius: 5px;
}

.form button {
  border:0;
  font-size: larger;
  padding: 8px;
  border-radius: 5px;
  cursor:pointer;
}

/* Club card styling */
.allclubs {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap:2rem;
  justify-content: center;
}

.card {
  box-shadow: 0 2px 20px lightgrey;
  border-radius: 4px;
  display:flex;
  flex-direction:column;
  transition:transform 200mx ease-in
}

.clubimage {
  height:12rem;
  width:100%;
  object-fit:cover;
  border: black 2px;
}

.clubname{
  padding:3px;
  font-size:large;
  margin: auto;
}

.clubinfo {
  border:0;
  padding: 4px;
  border-radius: 5px;
  cursor:pointer;
}

/* Club detail styling */
div.clubDetails {
  padding: 50px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  position: relative;
}


.clubDetailsImage {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: black px;
  object-fit: cover;
  padding: 7px;
  border-radius: 50%;
  box-shadow: 0 2px 10px black;
}
.clubDetailsTitle {
  padding: 20px;
}

.clubDetailsContent{
  display: block;
  align-items:center;
  align-content: center;
  padding: 10px;
  font-size: large;
}



