@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap'); /* font */

/* base style */
.App {
  text-align: center;
}

* {
  margin: 0;
  font-family: "Outfit";
  color: lightcoral;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* navbar styling */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color:rgb(240, 87, 87)
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color:blueviolet;
}